@model AllBookStock

@{
    var idQuery = "books?sortBy=id&ascending=" + (Model.sortBy != "id" || !Model.@ascending);
    var descriptionQuery = "books?sortBy=description&ascending=" + (Model.sortBy != "description" || !Model.@ascending);
    var activeQuery = "books?sortBy=active&ascending=" + (Model.sortBy == "active" && !Model.@ascending);
}

<h1>@Model.selectedBook.title</h1>
<h2>@Model.selectedBook.primary_author</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Stock Description</th>
        <th>Is Active</th>
        <th>On Loan To</th>
        <th>Due Back</th>
    </tr>

    @{
        foreach (var stock in Model.allBookStock)
        {
            var active = stock.active ? "true" : "false";
            var due_back = stock.first_name == null ? "" : stock.due_back.ToString("d");
            <tr>
                <td>@stock.id</td>
                <td>@stock.description</td>
                <td>@stock.active</td>
                <td>@stock.first_name</td>
                <td>@due_back</td>
                <td>
                    <form id="deleteBookForm" method="post" action="stock/delete">
                        <input type="hidden" name="bookId" value="@Model.selectedBook.id"/>
                        <input type="hidden" name="id" value="@stock.id"/>
                        <input type="hidden" name="active" value="@active"/>
                        <input type="submit" value="Toggle Active"/>
                    </form>
                </td>
            </tr>
        }
    }
</table>