@model AllBooksCountModel;

<script src="js/BooksPage/bookspage.js"></script>

<a href="books/create">Create Book</a>

@{
    var idQuery = "books?sortBy=id&ascending=" + (Model.sortBy != "id" || !Model.@ascending);
    var titleQuery = "books?sortBy=title&ascending=" + (Model.sortBy != "title" || !Model.@ascending);
    var authorQuery = "books?sortBy=primary_author&ascending=" + (Model.sortBy != "primary_author" || !Model.@ascending);
    var additionalAuthorsQuery = "books?sortBy=additional_authors&ascending=" + (Model.sortBy != "additional_authors" || !Model.@ascending);
    var isbnQuery = "books?sortBy=isbn&ascending=" + (Model.sortBy != "isbn" || !Model.@ascending);
	var countQuery = "books?sortBy=active_stock&ascending=" + (Model.sortBy == "active_stock" && !Model.@ascending);
    var availableQuery = "books?sortBy=available_stock&ascending=" + (Model.sortBy == "available_stock" && !Model.@ascending);
}

<form method="get" action="books">
	<input type="text" name="search"/>
	<input type="hidden" name="isSearch" value="true"/>
	<input type="submit" value="Go"/>
</form>

<table>
    <tr>
        <th><a href="@idQuery">ID</a></th>
        <th><a href="@titleQuery">Title</a></th>
        <th><a href="@authorQuery">Primary Author</a></th>
        <th><a href="@additionalAuthorsQuery">Additional Authors</a></th>
        <th><a href="@isbnQuery">ISBN</a></th>
        <th><a href="@countQuery">Active Copies</a></th>
        <th><a href="@availableQuery">Available Copies</a></th>
        <th></th> @* This creates an empty heading above the buttons column *@
    </tr>

    @{
        foreach (var book in Model.books)
        {
          
            <tr>
                <td>@book.id</td>
                <td>@book.title</td>
                <td>@book.primary_author</td>
                <td>@book.additional_authors</td>
                <td>@book.isbn</td>
                <td>@book.active_stock</td>
                <td>@book.available_stock</td>
                <td>
                    <form method="get" action="books/edit">
                        <input type="hidden" name="id" value="@book.id"/>
                        <input value="Edit" type="submit"/>
                    </form>
                    <form method="get" action="books/stock">
                        <input type="hidden" name="id" value="@book.id"/>
                        <input value="Stock" type="submit"/>
                    </form>
                    <form id="deleteBookForm" method="post" action="books/delete"> @* Could change this to use a partial page to delete a book *@
                        <input type="hidden" name="id" value="@book.id"/>
                        @if (book.active_stock > 0)
                        {
                            <button type="button" onclick="onBookDelete(this)">Delete</button>
                        }
                    </form>
                </td>
            </tr>
        }
    }
</table>