@model BooksModel;

@{
    var copies = (Dictionary<int, CopyCountModel>) ViewData["stock"];
}

<script src="js/BooksPage/bookspage.js"></script>

<a href="books/create">Create Book</a>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Primary Author</th>
        <th>Additional Authors</th>
        <th>ISBN</th>
        <th>Copies available</th>
        <th></th> @* This creates an empty heading above the buttons column *@
    </tr>

    @{
        foreach (var book in Model.books)
        {
            var availableCopies = 0;
            if (copies.ContainsKey(book.id))
            {
                availableCopies = copies[book.id].count;
            }
            
            <tr>
                <td>@book.id</td>
                <td>@book.title</td>
                <td>@book.primary_author</td>
                <td>@book.additional_authors</td>
                <td>@book.isbn</td>
                <td>@availableCopies</td>
                <td>
                    <form method="get" action="books/edit">
                        <input type="hidden" name="id" value="@book.id"/>
                        <input value="Edit" type="submit"/>
                    </form>
                    @* <a href="books/edit">Edit</a> *@
                    <form id="deleteBookForm" method="post" action="books/delete"> @* Could change this to use a partial page to delete a book *@
                        <input type="hidden" name="id" value="@book.id"/>
                        @if (availableCopies > 0)
                        {
                            <button type="button" onclick="onBookDelete(this)">Delete</button>
                        }
                    </form>
                </td>
            </tr>
        }
    }
</table>