@model AllBooksCountModel;

<script src="js/BooksPage/bookspage.js"></script>

<a href="books/create">Create Book</a>

<table>
    <tr>
        <th><a href="books?sortBy=id">ID</a></th>
        <th><a href="books?sortBy=title">Title</a></th>
        <th><a href="books?sortBy=primary_author">Primary Author</a></th>
        <th><a href="books?sortBy=additional_authors">Additional Authors</a></th>
        <th><a href="books?sortBy=isbn">ISBN</a></th>
        <th><a href="books?sortBy=count">Copies available</a></th>
        <th></th> @* This creates an empty heading above the buttons column *@
    </tr>

    @{
        foreach (var book in Model.books)
        {
          
            <tr>
                <td>@book.id</td>
                <td>@book.title</td>
                <td>@book.primary_author</td>
                <td>@book.additional_authors</td>
                <td>@book.isbn</td>
                <td>@book.count</td>
                <td>
                    <form method="get" action="books/edit">
                        <input type="hidden" name="id" value="@book.id"/>
                        <input value="Edit" type="submit"/>
                    </form>
                    @* <a href="books/edit">Edit</a> *@
                    <form id="deleteBookForm" method="post" action="books/delete"> @* Could change this to use a partial page to delete a book *@
                        <input type="hidden" name="id" value="@book.id"/>
                        @if (book.count > 0)
                        {
                            <button type="button" onclick="onBookDelete(this)">Delete</button>
                        }
                    </form>
                </td>
            </tr>
        }
    }
</table>