@model UsersModel;

<a href="users/create">Create New User</a>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Balance</th>
        <th></th> @* This creates an empty heading above the buttons column *@
    </tr>

    @{
        foreach (var user in Model.users)
        {
            <tr>
                <td>@user.first_name</td>
                <td>@user.last_name</td>
                <td>@user.email_address</td>
                <td>@UsersModel.FormatBalance(user.balance)</td>
                <td>
                    <form method="get" action="users/loans">
                        <input type="hidden" name="user_id" value="@user.id"/>
                        <input value="Loans" type="submit"/>
                    </form>
                    <form method="get" action="users/edit">
                        <input type="hidden" name="id" value="@user.id"/>
                        <input value="Edit" type="submit"/>
                    </form>
                    <form method="post" action="users/delete">
                        <input type="hidden" name="id" value="@user.id"/>
                        <input value="Delete" type="submit"/>
                    </form>
                </td>
            </tr>
        }
    }
</table>